/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default {
  background-color: $col-default;
  &hover: $col-default-light;
}

.error {
  background-color: $col-error;
}

.info {
  background-color: $col-info;
}

.success {
  background-color: $col-success;
}

.warning {
  background-color: $col-warning;
}
