/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  transition: 0.3s;
}

.default {
  background-color: $col-default;
  &:hover { 
    background-color: $col-default-light;
  }
}

.error {
  background-color: $col-error;
  &:hover { 
    background-color: $col-error-light;
  }
}

.info {
  background-color: $col-info;
  &:hover { 
    background-color: $col-info-light;
  }
  
}

.success {
  background-color: $col-success;
  &:hover { 
    background-color: $col-success-light;
  }
}

.warning {
  background-color: $col-warning;
  &:hover { 
    background-color: $col-warning-light;
  }
}
